* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, black, purple)
}

main .menu {
    padding-left: 40px;
}

main .menu button {
    background-color: #FA6730;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    float: right;
    margin-right: 40px;
    margin-top: 50px;
    font-weight: 400;
}

main .menu button:hover {
    cursor: pointer;
    background-color: white;
    color: #FA6730;
}

main .login {
    color: white;
    margin-left: 60px;
    margin-top: 100px;
}

main .login button {
    background: transparent;
    color: #FA6730;
    border-color: #FA6730;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    margin-left: 0px;
}

main .login button:hover {
    cursor: pointer;
    background-color: #FA6730;
    color: white;
}

main .login form {
    width: 40%;
}

@media (max-width: 600px) {
    main {
        background-image: linear-gradient(to top, black, purple)
    }
}